@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Open+Sans:ital,wght@0,700;1,400&family=Poppins&display=swap');


html {
    box-sizing: border-box;}


*, *::before, *::after {
        box-sizing: inherit;
        margin-top: auto;
        margin-bottom: auto;
    }

body{
    min-width: 1600px;
    background-color: RGB(237, 242, 248);
    font-family: Manrope;
}

.mainContainer {
    display: flex;
    margin: 250px auto auto auto;
    padding: 0;
    width: 730px;
    height: 280px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px;

}

.leftContainer {
    width: 285px;
    height: 280px;
    background-image: url('./images/drawers.jpg');
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.leftContainer img {
    width: 100%;
}

.rightContainer {
    background-color: white;
    width: 445px;
    height: 280px;
    padding: 40px 40px 30px 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.author img {
    margin-top: 5px;
    width: 40px;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
}

.rightContainer > p {
    margin-bottom: 15px;
}

.authorContainer{
    display: flex;
    justify-content: space-between;
}


h1{
    font-size: 1em;
    margin-bottom: 15px;
}

p{
    font-size: 0.7em;
    color: lightgray;
}

span {
    font-size: 0.7em;
    font-weight: 500;
}

.shareButtonImg {
    height: 15px;
    width: 15px;
}   

.divButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: rgb(227, 233, 244);
    border-radius: 30px;
    border: none;
}

button:hover{
    cursor: pointer;
}

.hidden {
    transition: opacity 0.5s ease-in 0.3s;
    visibility: hidden;
  }

  .sharedSocial {
    width: 245px;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #48556C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 380px;
    left: 980px;
  }

  .sharedSocial img{
    cursor: pointer;
    margin-top: 5px;
  }

#square {
    display: block;
    position: absolute;
    rotate: 45deg;
    top: 51px;
    left: 127px;
    background-color: #48556C; 
    width: 20px;
    height: 20px;
    }


  .sharedSocial p {
    color: gray;
    letter-spacing: 5px;
  }

  @media (max-width: 990px) {
    body{
        min-width: auto;}
    .mainContainer {
        flex-direction: column;
        margin: 20px;
        padding: 0;
        width: 285px;
        height: auto;
        box-shadow: 0px 0px 10px grey;
        border-radius: 10px;

    }   
    .leftContainer{
        border-radius: 10px 10px 0 0;
        width: 285px;
        height: 200px;
    }
    .rightContainer{
        border-radius: 0 0 10px 10px;
        font-size: 0.7em;
        width: 285px;
        padding: 30px 30px 10px 30px;
        height: auto;
    }

    h1 {
        font-size: 1em;
    }

    p{
        font-size: 0.8em;}

    .rightContainer > p {
        margin-bottom: 20px;
    }
    .authorContainer{
        z-index: 1;
    }
    .sharedSocial {
        height: 65px;
        top: 395px;
        left: 28px;
        width: 285px;
        border-radius: 0 0 10px 10px;
        justify-content: flex-start;
        gap: 5%;
        z-index: 2;
      }
    
    #square {
        display: none;

    }

    button {
        position: relative;
        z-index: 100;
    }
    .divButton2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: RGB(109, 126, 154);
        border-radius: 30px;
        border: none;   
    }
    .shareButtonImg2 {
        height: 15px;
        width: 15px;
        border: none;
        border-radius: 30px;
        filter: brightness(0) invert(1);
    }
    }
  



